In [1]:
# Importing all the required Dependencies
from bs4 import BeautifulSoup
import pandas as pd
import requests
from splinter import Browser
import time

NASA Mars News

Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text. Assign the text to 
variables that you can reference later.

In [2]:
# Initiating the splinter browser.
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
# Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text.
url_mars_news = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
time.sleep(2)
browser.visit(url_mars_news)

In [4]:
# Create BeautifulSoup object; parse with 'html'
response = browser.html
soup = BeautifulSoup(response, 'html.parser')

In [5]:
# Assign the text to variables that you can reference later.
news_title = soup.find_all('div',class_="content_title")[1].text
news_title

"NASA's Perseverance Rover Will Look at Mars Through These 'Eyes'"

In [6]:
# Assign the text to variables that you can reference later.
news_p = soup.find('div',class_="article_teaser_body").text
news_p

'A pair of zoomable cameras will help scientists and rover drivers with high-resolution color images.'

# JPL Mars Space Images - Featured Image

Visit the url for JPL Featured Space Image.


Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called featured_image_url.


Make sure to find the image url to the full size .jpg image.


Make sure to save a complete url string for this image.

In [7]:
# Visit the url for JPL Featured Space Image.
image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(image_url)

In [8]:
#Use splinter to navigate the site and find the image url for the current Featured Mars Image.
time.sleep(2)
browser.click_link_by_partial_text('FULL IMAGE')

C:\Users\vijay\Anaconda3\lib\site-packages\splinter\driver\webdriver\__init__.py:528: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [9]:
# Make sure to find the image url to the full size .jpg image. Using time.sleep to let the browser load.
time.sleep(1)
browser.click_link_by_partial_text('more info')

In [10]:
# Make sure to save a complete url string for this image.
time.sleep(1)
browser.click_link_by_partial_href('/spaceimages/images/largesize')

C:\Users\vijay\Anaconda3\lib\site-packages\splinter\driver\webdriver\__init__.py:520: FutureWarning: browser.find_link_by_partial_href is deprecated. Use browser.links.find_by_partial_href instead.
  FutureWarning,

In [11]:
# Assign the url string to a variable called featured_image_url.
time.sleep(1)
featured_image_url = browser.find_by_tag('img')['src']
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16883_hires.jpg'

# Mars Weather

Visit the Mars Weather twitter account and scrape the latest Mars weather tweet from the page. Save the tweet text for the weather report as a variable called mars_weather.

Note: Be sure you are not signed in to twitter, or scraping may become more difficult.

Note: Twitter frequently changes how information is presented on their website. If you are having difficulty getting the correct html tag data, consider researching Regular Expression Patterns and how they can be used in combination with the .find() method.

In [12]:
# Visit the Mars Weather twitter account and scrape the latest Mars weather tweet from the page. 
url_twitter = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url_twitter)

In [13]:
# Parsing through the page
time.sleep(3)
response_1 = browser.html
soup = BeautifulSoup(response_1,'html.parser')

In [14]:
# Save the tweet text for the weather report as a variable called mars_weather.
time.sleep(5)
last_tweets = soup.find_all('div', class_="css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0")
# Go through all the tweets and select the latest weather tweet
for tweet in last_tweets:
    one_tweet = tweet.find('span').text
    # Using regular expression to get the weather tweet.
    weather_tweet = one_tweet.startswith('InSight')
    if (weather_tweet==True):
        mars_weather = one_tweet
        break

In [15]:
# Display the latest weather tweet.
mars_weather

'InSight sol 511 (2020-05-04) low -93.2ºC (-135.8ºF) high -3.6ºC (25.5ºF)\nwinds from the SW at 4.9 m/s (11.0 mph) gusting to 16.8 m/s (37.6 mph)\npressure at 6.80 hPa'

# Mars Facts

Visit the Mars Facts webpage and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.


Use Pandas to convert the data to a HTML table string.

In [16]:
# Visit the Mars Facts webpage.
url_facts = 'https://space-facts.com/mars/'
browser.visit(url_facts)
time.sleep(1)

In [17]:
# use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.
tables = pd.read_html(url_facts)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [18]:
# The Required table.
table = tables[0]
table

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [19]:
table.columns = ['Parameters','Values']
table

             Parameters                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [20]:
table.set_index('Parameters',inplace=True)

In [21]:
# Use Pandas to convert the data to a HTML table string.
mars_table = table.to_html()
mars_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Values</th>\n    </tr>\n    <tr>\n      <th>Parameters</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [22]:
mars_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Values</th>    </tr>    <tr>      <th>Parameters</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [23]:
# Use Pandas to convert the data to a HTML table string.
table.to_html('mars_table.html')

# Mars Hemispheres

Visit the USGS Astrogeology site to obtain high resolution images for each of Mar's hemispheres.


You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.


Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name. Use a Python dictionary to store the data using the keys img_url and title.


Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.

In [24]:
# Visit the USGS Astrogeology site.
url_hemi = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url_hemi)

In [25]:
time.sleep(2)
response_2 = browser.html
soup = BeautifulSoup(response_2,'html.parser')

In [26]:
# Save both the image url string for the full resolution hemisphere image, and the Hemisphere 
# title containing the hemisphere name. 
results = soup.find_all('div',class_='item')
img_url = []
title = []

In [27]:
# Using splinter to navigate through window tabs, you will see each window opening and then closing to collect all the 
# required image urls.


for result in results:
    parent_window = browser.driver.current_window_handle
    title.append(result.h3.text)
    time.sleep(1)
    # You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.
    browser.click_link_by_partial_text(result.h3.text)
    browser.click_link_by_partial_text('Sample')
    # Assigning window names parent window is main window and any new tab opened is child window.
    all_windows = browser.driver.window_handles
    time.sleep(1)
    child_window = [window for window in all_windows if window != parent_window][0]
    # Switching the splinter to operate on the child window which contains the link for the image.
    browser.driver.switch_to.window(child_window)
    # Collecting the image url.
    img_url.append(browser.find_by_tag('img')['src'])
    # Closing the child window
    browser.driver.close()
    # Switching the splinter back to operate the parent window.
    browser.driver.switch_to.window(parent_window)
    browser.back()

In [28]:
# Append the dictionary with the image url string and the hemisphere title to a list. 
hemisphere_image_urls = []
# This list will contain one dictionary for each hemisphere.
for i in range(0,4):
    hemisphere_image_urls.append({"title":title[i],"image_url":img_url[i]})
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'image_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'image_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'image_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'image_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [29]:
# Creating One Python dictionary containing all of the scraped data.
mars_data = {
        "news_title":news_title,
        "news_p" : news_p,
        "featured_image_url" : featured_image_url,
        "mars_weather" : mars_weather,
        "mars_table" : mars_table,
        "hemisphere_image_urls" : hemisphere_image_urls
    }

In [30]:
# Close the browser after scraping
browser.quit()